# A example of Ansible Invetery
# Some useful parameters:
# - ansible_ssh_port
# - ansible_ssh_user
# - ansible_ssh_private_key_file
# Check out http://www.ansibleworks.com/docs/patterns.html#list-of-reserved-inventory-parameters
# for all possible parameters
# **Replace all MY_SRV with your host name**

localhost              ansible_connection=local

[cloud]
cloud001.MY_SRV.com  ansible_ssh_user=root  ansible_ssh_private_key_file=~/.ssh/id_rsa

[gitlab]
git.MY_SRV.com ansible_ssh_user=root

[gitlab:vars]
install_ci=True
gitlab_ci_domain=ci.example.com

[gogs]
g.MY_SRV.com

[jenkins]
jenkins.MY_SRV.com

[ghost]
ghost.MY_SRV.com

[shadowsocks]
ln001.MY_SRV.com

[shadowsocks:vars]
password=superlongpassword203985

[uptime]
uptime.MY_SRV.com

[huginn]
huginn.MY_SRV.com

