#A example of Ansible Invetery
#Some useful parameters:
# - ansible_ssh_port
# - ansible_ssh_user
# - ansible_ssh_private_key_file
#Check out http://www.ansibleworks.com/docs/patterns.html#list-of-reserved-inventory-parameters  for all possible parameters

localhost              ansible_connection=local

[cloud]
cloud001.example.com  ansible_ssh_user=root  ansible_ssh_private_key_file=~/.ssh/some_key
cloud002.aliyun.com upgrade_source_use_template=true debian_release=testing

[digitalocean]
do001.example.com

[linode]
ln001.example.com