; phabricator configure managed via ansible
; priority=40

[PHP]
; Maximum size of POST data that PHP will accept.
; Its value may be 0 to disable the limit. It is ignored if POST data reading
; is disabled through enable_post_data_reading.
; http://php.net/post-max-size
post_max_size = {{ php_ini_config.post_max_size }}

[Date]
; Defines the default timezone used by the date functions
; http://php.net/date.timezone
date.timezone = "{{ php_ini_config.timezone }}"

[opcache]
; When disabled, you must reset the OPcache manually or restart the
; webserver for changes to the filesystem to take effect.
opcache.validate_timestamps={{ php_ini_config.validate_timestamps }}
