var path = require('path'),
    config;

config = {
    production: {
        url: 'http://{{ inventory_hostname }}',
        mail: {
            transport: 'SMTP',
            options: {
                service: 'sendmail',
            }
        },
        database: {
            client: 'sqlite3',
            connection: {
                filename: path.join(__dirname, '/content/data/ghost.db')
            },
            debug: false
        },

        server: {
            // Host to be passed to node's `net.Server#listen()`
            host: '127.0.0.1',
            // Port to be passed to node's `net.Server#listen()`, for iisnode set this to `process.env.PORT`
            port: '2368'
        }
    }
};

module.exports = config;